*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
:root, html, body{
  height: 100%;
  width: 100%;
}

@supports (height: 100vh) {
	:root, html, body {
		height: 100vh;
	}
}
@supports (width: 100vw) {
	:root, html, body {
		width: 100vw;
	}
}

body{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background: rgba(225, 205, 0, 1);
}
div{
  position: relative;
  margin: 0 0 auto auto;
  width: 90%;
  height: 100%;
}
img {
	width: 100%;
	height: auto;
}
div:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(14, 11, 22, 0.8);
}
h1 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-align: right;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -1px;
  color: rgba(255, 255, 255, 1);
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 1),
    -1px 1px 0px rgba(0, 0, 0, 1),
    1px -1px 0px rgba(0, 0, 0, 1),
    1px 1px 0px rgba(0, 0, 0, 1);
  z-index: 1;
}
@supports (font-size: 1vw) {
	h1 {
		font-size: 24vw;
	}
}